@import url(http://fonts.googleapis.com/css?family=Karla:700,400);
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  font-family: Karla, Helvetica, sans-serif;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.2em;
  color: #828282;
}
@media (max-width: 640px) {
  body {
    font-size: 16px;
  }
}
a,
.title {
  font-weight: bold;
  color: #525252;
  text-decoration: none;
  -webkit-transition: border-color 0.15s;
  -moz-transition: border-color 0.15s;
  -ms-transition: border-color 0.15s;
  -o-transition: border-color 0.15s;
  transition: border-color 0.15s;
}
a:hover {
  text-decoration: underline;
}
h4 {
  display: inline-block;
  vertical-align: top;
  padding-bottom: 0.65em;
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 30px;
  line-height: 1.2em;
  border-bottom: 2px solid;
}
.projects-section h4,
.navigation-projects {
  color: green;
  border-color: green !important;
  opacity: 0.5;
}
.collaborators-section h4,
.navigation-collaborators {
  color: blue;
  border-color: blue !important;
  opacity: 0.5;
}
.publications-section h4,
.navigation-publications {
  color: orange;
  border-color: orange !important;
  opacity: 0.8;
}
h5 {
  font-weight: normal;
  font-size: 26px;
  line-height: 1.2em;
  color: black;
  margin: 1.5em 0 0.5em 0;
}
p {
  max-width: 860px;
  margin: 0.25em 0;
  line-height: 1.4em;
}
.publications {
  max-width: 860px;
  padding-left: 1em;
  padding-bottom: 35px;
  margin-top: 1em;
  border-bottom: 1px solid #eee;
  font-size: 14px;
  line-height: 1.65em;
  letter-spacing: 0;
}
.publications img {
  float: left;
  height: 4em;
  margin-right: 10px;
}
.publications table {
  border-collapse: collapse;
}
.publications tr {
  border-top: 1px solid #eee;
}
.publications td {
  padding: 0.5em;
}
.publications a {
    font-weight: normal;
}
.links {
  max-width: 860px;
  padding-left: 1em;
  padding-bottom: 35px;
  margin-top: 1em;
  border-bottom: 1px solid #eee;
  font-size: 14px;
  line-height: 1.65em;
  letter-spacing: 0;
}
.about-section h4,
.navigation-about {
  color: red;
  border-color: red !important;
  opacity: 0.5;
}
.about-section img {
  float: right;
  height: 9em;
  margin-left: 10px;
  border-radius: 5%;
}
.about-section p {
  margin-bottom:1.5em
}
section {
  padding-top: 15%;
  padding-bottom: 5%;
}
section:first-child {
  padding-top: 7%;
}
section:last-child {
  padding-bottom: 50%;
}
@media (max-width: 640px) {
  section:first-child {
    padding-top: 33%;
  }
}
.content {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
.subheading {
  margin-top: 2em;
}
.red {
  height: 4px;
  background-color: #ff5248;
}
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background-color: white;
}
.header-inner {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  border-bottom: 1px solid #f4f4f4;
}
.title-outer {
  display: inline-block;
  vertical-align: top;
  padding: 1rem 0;
}
.navigation {
  float: right;
}
@media (max-width: 640px) {
  .navigation {
    float: none;
  }
}
ul.navigation-items {
  margin: 0;
  list-style: none;
  padding-left: 0;
}
@media (max-width: 640px) {
  ul.navigation-items {
    display: inline-block;
  }
}
ul.navigation-items .navigation-item {
  display: inline-block;
  vertical-align: top;
  padding: 1rem 0;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
ul.navigation-items .navigation-item + .navigation-item {
  margin-left: 1.5em;
}
@media (max-width: 640px) {
  ul.navigation-items .navigation-item + .navigation-item {
    margin-left: 1em;
  }
}
ul.navigation-items .navigation-item.active {
  border-bottom: 1px solid transparent;
}
@media (max-width: 640px) {
  ul.navigation-items .navigation-item {
    padding: 0.5rem 0;
  }
}
@media screen and (max-width: 960px) {
  .content {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .header {
    left: 2rem;
    right: 2rem;
  }
}
@media screen and (max-width: 900px) {
  .icons {
    left: auto;
    right: 0;
  }
}
@media screen and (max-width: 640px) {
  .icons {
    left: calc(50% - 94px);
    top: 3rem;
  }
}
@media screen and (max-width: 640px) {
  .title-outer {
    text-align: center;
    padding: 1rem 0 0.5rem 0;
  }
  .header-inner {
    border: none;
  }
  .header {
    text-align: center;
    height: 79px;
    border-bottom: 1px solid #f4f4f4;
  }
}

